.place__paragraph-one {
   margin: 0 0 23px;
}

@media screen and (max-width: 768px) {
    .place__paragraph-one {
        margin: 0 0 25px;
    }

    .place__paragraph-one:last-of-type {
        margin: 0;
      }
}