.cover__title {
    max-width: 560px;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 1.05;
    margin: 0 0 32px;
    text-align: center;
   
}

@media screen and (max-width: 600px) {
    .cover__title {
       font-size: 62px;
       line-height: 65px;
       margin: 0 auto 18px;
    }
}

@media screen and (max-width: 500px) {
    .cover__title {
       font-size: 52px;
       line-height: 65px;
       margin: 0 auto 16px;
    }
}

@media screen and (max-width: 400px) {
    .cover__title {
       font-size: 42px;
       line-height: 50px;
    }
}


@media screen and (max-width: 320px) {
    .cover__title {
       font-size: 32px;
       line-height: 35px;
    }
}